.idea

*~
/phpunit.xml
/cache/*
!/cache/.htaccess
!/cache/index.html
/composer.phar
/config*.php
/files/*
/images/avatars/gallery/*
/images/avatars/upload/*
/images/ranks/*
/install
/language/*
!/language/en
/store/*
/styles/*
!/styles/prosilver
!/styles/warriormachines_2016
!/styles/all
/vendor