<ul id="nav-footer" class="linklist bulletin" role="menubar">
    <!-- EVENT overall_footer_breadcrumb_prepend -->
    <!-- EVENT overall_footer_breadcrumb_append -->

    <!-- EVENT overall_footer_timezone_before -->
    <li class="rightside">{S_TIMEZONE}</li>
    <!-- EVENT overall_footer_timezone_after -->

    <!-- IF not S_IS_BOT -->
    <li class="rightside"><a href="{U_DELETE_COOKIES}" data-ajax="true" data-refresh="true" role="menuitem">{L_DELETE_COOKIES}</a></li>
    <!-- ENDIF -->

    <!-- EVENT overall_footer_teamlink_before -->
    <!-- EVENT overall_footer_teamlink_after -->
</ul>
