<!-- EVENT overall_header_navbar_before -->
<!-- IF S_REGISTERED_USER -->
<div class="card">
    <div class="card-block text-xs-center">
        <p class="card-text">
            <!-- IF CURRENT_USER_AVATAR -->
            {CURRENT_USER_AVATAR}
            <!-- ENDIF -->
        </p>
        <h4 class="card-title">{CURRENT_USERNAME_SIMPLE}</h4>
        <p class="card-text text-muted">"Born and bred to knock 'em dead"</p>
        <a href="{U_USER_PROFILE}" class="btn btn-primary" title="{L_READ_PROFILE}">{L_READ_PROFILE}</a>
        <!-- EVENT navbar_header_profile_list_before -->
        <!-- EVENT navbar_header_username_prepend -->
    </div>

    <div class="card-block">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{U_PROFILE}" class="card-link" title="{L_PROFILE}"><i class="fa fa-fw fa-tachometer"></i> {L_PROFILE}</a>
            </li>

            <!-- IF U_RESTORE_PERMISSIONS -->
            <li class="list-group-item">
                <a href="{U_RESTORE_PERMISSIONS}" class="card-link">{L_RESTORE_PERMISSIONS}</a>
            </li>
            <!-- ENDIF -->

            <!-- IF S_NOTIFICATIONS_DISPLAY -->
            <li class="list-group-item dropdown-container dropdown-{S_CONTENT_FLOW_END}">
                <span class="label label-default label-pill pull-xs-right"><i class="fa fa-info-circle"></i> {NOTIFICATIONS_COUNT}</span>
                <a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger"><i class="fa fa-fw fa-exclamation-circle"></i> {L_NOTIFICATIONS}</a>
                <!-- INCLUDE notification_dropdown.html -->
            </li>
            <!-- ENDIF -->

            <!-- IF S_DISPLAY_PM -->
            <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right"><i class="fa fa-envelope"></i> {PRIVATE_MESSAGE_COUNT}</span>
                <a href="{U_PRIVATEMSGS}"><i class="fa fa-fw fa-user-secret"></i> {L_PRIVATE_MESSAGES}</a>
            </li>
            <!-- ENDIF -->
        </ul>
    </div>

    <div class="card-text text-xs-center m-b-1">
        <!-- IF U_ACP or U_MCP -->
        <!-- IF U_ACP -->
        <a href="{U_ACP}" class="card-link" title="{L_ACP}">{L_ACP_SHORT}</a>
        <!-- ENDIF -->

        <!-- IF U_MCP -->
        <a href="{U_MCP}" class="card-link" title="{L_MCP}">{L_MCP_SHORT}</a>
        <!-- ENDIF -->
        <!-- ENDIF -->

        <!-- EVENT navbar_header_username_append -->
        <!-- EVENT navbar_header_profile_list_after -->
    </div>
</div>

<!-- ELSE -->

<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
<ul class="list-group">
    <li class="list-group-item">
        <a href="{U_REGISTER}">{L_REGISTER}</a>
    </li>
</ul>
<!-- ENDIF -->

<!-- EVENT navbar_header_logged_out_content -->

<!-- ENDIF -->

<div class="card">
    <div class="card-header">
        <i class="fa fa-comment"></i> Shop talk
    </div>
    <div class="card-block">
        <h4 class="card-title">Chat coming soon...</h4>
        <p class="card-text">Stay tuned for a site-wide chat widget here.</p>
        <img src="http://placehold.it/350x400" class="img-fluid">
    </div>
</div>


<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
<ul>
    <li class="small-icon icon-<!-- IF S_WATCHING_FORUM -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->" data-last-responsive="true">
        <a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}"
           data-ajax="toggle_link"
           data-toggle-class="small-icon icon-<!-- IF not S_WATCHING_FORUM -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->"
           data-toggle-text="{S_WATCH_FORUM_TOGGLE}"
           data-toggle-url="{U_WATCH_FORUM_TOGGLE}">{S_WATCH_FORUM_TITLE}</a>
    </li>
</ul>
<!-- ENDIF -->