<!-- IF not S_IS_BOT and (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS) -->
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{L_TOPIC_TOOLS}">
        <i class="fa fa-wrench"></i>
    </button>
    <div class="dropdown-menu">
        <!-- EVENT viewtopic_topic_tools_before -->

        <!-- IF U_WATCH_TOPIC -->
        <!-- IF S_WATCHING_TOPIC -->
        <a href="#" class="dropdown-item">Unsubscribe</a>
        <!-- ELSE -->
        <a href="{U_WATCH_TOPIC}" class="dropdown-item" title="{S_WATCH_TOPIC_TITLE}" data-toggle-text="{S_WATCH_TOPIC_TOGGLE}" data-toggle-url="{U_WATCH_TOPIC_TOGGLE}"
           data-update-all=".watch-topic-link">{S_WATCH_TOPIC_TITLE}</a>
        <!-- ENDIF -->
        <!-- ENDIF -->

        <!-- IF U_BOOKMARK_TOPIC -->
        <a href="{U_BOOKMARK_TOPIC}" class="dropdown-item" title="{L_BOOKMARK_TOPIC}" data-ajax="alt_text" data-alt-text="{S_BOOKMARK_TOGGLE}" data-update-all=".bookmark-link">{S_BOOKMARK_TOPIC}</a>
        <!-- ENDIF -->

        <!-- IF U_BUMP_TOPIC -->
        <a href="{U_BUMP_TOPIC}" class="dropdown-item" title="{L_BUMP_TOPIC}" data-ajax="true">{L_BUMP_TOPIC}</a>
        <!-- ENDIF -->

        <!-- IF U_EMAIL_TOPIC -->
        <a href="{U_EMAIL_TOPIC}" class="dropdown-item" title="{L_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a>
        <!-- ENDIF -->

        <!-- IF U_PRINT_TOPIC -->
        <a href="{U_PRINT_TOPIC}" class="dropdown-item" title="{L_PRINT_TOPIC}" accesskey="p"><i class="fa fa-print"></i> {L_PRINT_TOPIC}</a>
        <!-- ENDIF -->

        <!-- EVENT viewtopic_topic_tools_after -->
    </div>
</div>
<!-- ENDIF -->
