/* Gray */
.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.bg-gray-lightest {
  background-color: $gray-lightest;
}

/* Custom classes based on existing bootstrap classes */
/* `.bg-warning` already exists, this is a custom one using the lighter shade. */
.bg-warning-light {
  background-color: $state-warning-bg;
}
