.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.bg-gray-lightest {
  background-color: $gray-lightest;
}

.bg-floralwhite {
  background-color: #fffdef;
}
