body {
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 12px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}
